# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that used by Data Scientists are:

- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Mention commonly used libraries by Data Scientists.
- Create tables in Jupyter Notebook using Markdown.
- Perform arithmetic operations and conversions in Python.

## Author
Madhav Krishna